<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fakebook</title>
    <link rel="stylesheet" href="/static/css/fakebook/style.css">
</head>
<body>

<h1>fakebook</h1>
<input type="text" placeholder="Search" id="input">
<h2>Sebastian Puschacher</h2>

<img src="/static/img/fakebook/sebastian.jpg" id="image">

<p>
<a href="https://c1.sfdcstatic.com/content/dam/blogs/us/thumbnails/thank-you-as-part-of-your-dreamforce-preparations/thank_you_dreamforce_18_thumb.png" target="blank"><button>Like</button></a>
<a href="mailto:sebastian.puschacher@gmail.com"><button>Send a message</button></a>
</p>

<table>
    <tr>
        <th> City: </th>
        <th> Vienna </th>
    </tr>

    <tr>
        <th> Age: </th>
        <th> 23 </th>
    </tr>

    <tr>
        <th> Education: </th>
        <th> Smart Ninja </th>
    </tr>

    <tr>
        <th> Hobby: </th>
        <th> Mountainbiking </th>
    </tr>

    <tr>
        <th> Special Talent: </th>
        <th> Can cook minute rice in 58 seconds </th>
    </tr>

</table>

</body>
</html>