<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Taschenrechner</title>
</head>
<body>

<h1 class="header">Basti's Rechner</h1>

<div>
    <form method="post" action="/">
        <input class="eingabe" type="number" step="any" name="num_1" placeholder="Zahl">
        <br>
        <input class="op" type="radio" name="operation" value="+"> +
        <input class="op" type="radio" name="operation" value="-"> -
        <input class="op" type="radio" name="operation" value="*"> *
        <input class="op" type="radio" name="operation" value="/"> /
        <br>
        <input class="eingabe" type="number" step="any" name="num_2" placeholder="Zahl">
        <br>
        <button class="send" type="submit">=</button>
    </form>
</div>
<br>
{% if solution %}
<div>
    <h4 class="ergebnis">{{num_1}} {{operation}} {{num_2}} = {{solution}}</h4>
</div>
{% endif %}



</body>
</html>