<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taschenrechner</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
 <form method="post" action="/">
        <input type="text" name="num_1" placeholder="Gib eine Zahl ein">
        <br>
        <input type="text" name="operation" placeholder="Gib die Rechenoperation ein">
        <br>
        <input type="text" name="num_2" placeholder="Gib eine zweite Zahl ein">
        <br>
        <button type="submit">=</button>
 </form>

{% if solution %}
<h3>{{num_1}} {{operation}} {{num_2}} = {{solution}}</h3>
{% endif %}

</body>
</html>